@import "../../index.scss";

.popularSection {
  text-align: center;
  background: $sideWhite;
}

.popularSection h2 {
  margin-bottom: 1.5rem;
}

.popularlistings {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  height: auto;
}

@media screen and (min-width: 768px) {
  .popularlistings {
    flex-direction: row;
  }
}
