@import "../../../index.scss";

.popularCard {
  display: flex;
  text-align: center;
  padding: 2rem 3rem;
  background: $sideBlack;
  margin: 10px;
  font-size: 1rem;
  flex: 1 1 20%;
  flex-wrap: wrap;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}

.p {
  color: white;
  background: rgba(32, 46, 127, 0.7);
  padding: 10px;
  text-transform: capitalize;
}
